<html>
    <body class="bg">
        <mat-toolbar>
            <span>Tech Bin</span>
            <span class="example-spacer"></span>
        </mat-toolbar>
    <div class=submitbutton>
        <button mat-raised-button color="warn" (click) = "link()" class="btn1">Link Account</button><br><br>
        <button mat-raised-button color="primary" (click) = "logOut()" class="btn2">Sign Out</button>
    </div>

    <div class = paragraph>
        <h3>
            Thank you for using the SMART DUSTBIN. For any credits you have to login through your google account.
        </h3>
    </div>
    </body>
</html>